.top {
    min-height: 764px;
    background-color: #F1E4E6;
    position: relative;
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: absolute;
        transform: translateX(-230px);
    }
    &__title{
        width: 410px;
        margin: 230px 90px 0 0;
        display: flex;
        gap: 16px;
        align-items: center;
        h1 {
            color: #222;
            font-size: 36px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        .fat {
            font-size: 48px;
        }
        .red {
            color: #F16D7F;
        }
    }
}