.bottom {
    min-height: 448px;
    position: relative;
    background-image: url("../img/bottom_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 97px 16px 126px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(244, 244, 244, 0.70);
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
}