.registration {
    padding-top: 64px;
    padding-bottom: 96px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        width: 360px;
    }
    &__loyalty {
        max-width: 640px;
    }
}