.cart {
    padding: 96px 0 128px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__product-cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(310px, 652px));
        grid-auto-rows: auto;
        gap: 40px;
    }
    &__card {
        display: flex;
        justify-content: space-between;
        gap: 17px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.3);
        &-info {
            padding-top: 22px;
            width: 262px;
            &-title {
                color: #222;
                font-size: 24px;
                font-weight: 400;
            }
            &-price {
                margin-top: 42px;
                @include card-text-color();
                span {
                    color: $main-color;
                }
            }
            &-color {
                margin-top: 6px;
                @include card-text-color();
                span {
                    color:
                     $additional-font-color;
                }

            }
            &-size {
                margin-top: 6px;
                @include card-text-color();
                span {
                    color: $additional-font-color;
                }
            }
            &-quantity {
                margin-top: 6px;
                @include card-text-color();
                display: flex;
                align-items: center;
                gap: 24px;
                &-form {
                    input {
                        text-align: center;
                        line-height: 22px;
                        width: 44px;
                        height: 25px;
                        border: 1px solid #EAEAEA;
                        color: $additional-font-color;
                        &:focus {
                            outline:none;
                        }
                    }
                }
            }
        }
        &-img {
            width: 262px;
        }
        &-close {
            padding: 28px 22px 0 0;
        }
    }

    &__controls {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        width: 235px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #a4a4a4;
        color: #000;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__information {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 57px;
    }
    &__form {
        margin-top: 20px;
    }
    &__checkout {
        padding: 40px;
        width: 360px;
        height: 214px;
        background-color: #F5F3F3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &-subtotal {
            color: #4A4A4A;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;;
            span {
                padding-left: 25px;
            }
        }
        &-grandtotal {
            margin-top: 12px;
            color: #222;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            span {
                padding-left: 35px;
                color: $main-color;
                font-weight: 700;
            }
        }
        &-divider {
            margin-top: 21px;
            width: 275px;
            height: 1px;
            background-color: #E2E2E2;
        }
        &-btn {
            margin-top: 17px;
            color:#fff;
            width: 273px;
            height: 50px;
            background-color: $main-color;
            border: none;
            text-transform: uppercase;
        }
    }
}