.alive {
    transition: 0.5s all;
    cursor: pointer;
    &:hover {
        transform: scale(105%);
    }
    &__btn {
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            filter: invert(90%);
        }
    } 
}