.breadcrumbs {
    &__item {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;        
        margin-right: 5px;
        a {
            color: #636363;
            font-weight: 300;
        }
        &:not(:last-child)::after {
            content: "/";
            margin-left: 5px;
        }
        &:last-child {           
            a {
                color: #F16D7F;
                font-weight: 700;
            }
        }
    }
}